<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.legagladioConnectionString"
            connectionString="server=192.168.1.34;user id=root;password=Xri8jgmk!;persistsecurityinfo=True;database=legagladio"
            providerName="MySql.Data.MySqlClient" />
        <add name="DataAccessLayer.Properties.Settings.legagladioConnectionString1"
            connectionString="server=192.168.1.34;user id=f3l1x;password=aa123ss;persistsecurityinfo=True;database=legagladio;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>